@(form: Form[Cancion], artista: String)

@layout("Sube tu archivo de audio") {

    <div class="container">
        <div class="col-sm-4">
            @helper.form(action = helper.CSRF(routes.ControladorCancion.upload(artista)), 'enctype -> "multipart/form-data") {
                @helper.inputFile(form("Archivo de Audio"))
                @helper.CSRF.formField
                <div class="form-group">
                    <label for="usr">Nombre:</label>
                    <input type="text" name="nombre" value="" class="form-control">
                </div>
                <div class="form-group">
                    <label for="usr">Género:</label>
                    <input type="text" name="genero" value="" class="form-control">
                </div>

                <input type="submit" value="Listo"/>
            }
        }
        </div>
    </div>