@(cancion : Cancion)

@layout(cancion.getNombre){
    <h2>@cancion.getNombre</h2>
    <audio id="audio" class="audio-player" src="@cancion.getDireccion" controls>
        Tu navegador no permite reproducir audio.
    </audio>
    <h3> Género: @cancion.getGenero</h3>

}