@(form: Form[Artista])

@layout("Registro") {

    <div class="container">
        <div class="col-sm-3">
        @helper.form(action = helper.CSRF(routes.ControladorArtista.guardar())) {

            @helper.inputText(form("Usuario"))
            @helper.inputPassword(form("Pass"))
            @helper.inputText(form("Nombre"))
            @helper.inputText(form("Correo"))
            @helper.inputText(form("Edad"))

            <input type="submit" value="Registrar" class="btn btn-success">
            }
        </div>
        <div class="col-sm-5">
            <h2 align="center"> ¡Regístrate!</h2>
            <p align="justify">
                Únete a la nueva comunidad de artistas On-Line, sube tus temas, date a conocer a ti y a tus creaciones.</p>
        </div>
        <div class="col-sm-3">
            <img src="@routes.Assets.versioned("images/ncslogo.png")" width="248" height="106">
        </div>
    </div>
}