@(usuario: String)

@layout("Eliminar") {
    <div class="container">
        <h1 align="center"> ¿Está usted seguro de querer eliminar su cuenta permanentemente?</h1>
        <div align="center">
            <a class="btn btn-danger" href="@routes.ControladorArtista.eliminar(usuario)">
                Sí, deseo eliminar mi Cuenta permanentemente</a>
        </div>
    </div>
}