@(lista: List[Artista])
@layout("Todos los Artistas") {
    <h4> Esta página se hizo para mostrar todos los artistas y sus respectivas contraseñas,
    es nétamente para fines de prueba</h4>
    @for(artista <- lista) {
        <div>
            <h2>
                Artista: @artista.getNombre
                User: @artista.getUsuario
                Pass: @artista.getPass
            </h2>
        </div>
    }
}