@(artista : Artista, canciones: List[Cancion])

@layout(artista.getNombre){

    @artista.getNombre
    @if(canciones.isEmpty){
        <h2>@artista.getNombre No tiene canciones actualmente</h2>
    }@if(canciones.nonEmpty){
    @for(song <- canciones) {
        <h4><a href="@routes.ControladorCancion.mostrarCancion(song.getId)">
            Cancion: @song.getNombre
        </a>
        </h4>
    }
    }

}